img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  font-family: Wendy One;
  margin-left: 1.66%;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 3px solid #f1f1f4;
   padding-bottom: 15px;
}
